<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-umum}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" th:src="@{/js/addkab.js}"></script>
    </head>
    <div layout:fragment="content">
            <main role="main" class="flex-shrink-0">
                <div class="container">
                    <section class="my-5">
                        <form th:action="@{/savekab}" th:object="${kabupaten}" method="post">
                                    <div class="form-group">
                                      <label for="kode">ID Kabupaten</label>
                                      <input type="text" class="form-control" id="id" th:field="*{idKabupaten}">
                                      <span th:if="${#fields.hasErrors('idKabupaten')}" th:errors="*{idKabupaten}" class="text-danger" th:onchange="getKab(id)"></span>
                                    </div>
                                    <div class="form-group">
                                      <label for="nama">Nama Kabupaten:</label>
                                      <input type="text" class="form-control" id="nama" th:field="*{namaKabupaten}">
                                      <span th:if="${#fields.hasErrors('namaKabupaten')}" th:errors="*{namaKabupaten}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                      <label for="nama">Nama Provinsi:</label>
                                      <select class="form-control" id="dataprovinsi" th:field="*{kodeProvinsi}">
                                      </select>
                                      <span th:if="${#fields.hasErrors('kodeProvinsi')}" th:errors="*{kodeProvinsi}" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                    </section>
                </div>
            </main>
        </div>
    
</html>
